* {
  margin: 0;
  padding: 0;
}

#main-heading {
  margin-top: 2%;
  text-align: center;
}

.book-container {
  margin: 2%;
  padding: 1%;
  border: 2px dashed black;
}

.book-description {
  display: flex;
  gap: 3%;
  margin: 2% 0;
}

img {
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .book-description {
    flex-direction: column;
  }

  img {
    aspect-ratio: 3/2;
  }
}
